In [1]:
%cd /home/parthgandhi/TradeBot

/home/parthgandhi/TradeBot

In [2]:
from src.brokers.kite.login import KiteLogin
from src.utils import setup_logger
from src.config.brokers.kite import KiteConfig, KitePortfolioConfig
from src.brokers.kite.portfolio import get_portfolio, Ptf_Attr

setup_logger()

In [3]:
kite = KiteLogin(credentials_path=KiteConfig.CREDENTIALS_PATH).auto_login()

2025-12-23 22:08:50 | INFO | KiteLogin | _auto_login | Starting Kite Loign
2025-12-23 22:09:05 | INFO | KiteLogin | _generate_request_token | Request Token is Generated Successfully
2025-12-23 22:09:05 | INFO | KiteLogin | _generate_access_token | Access Token Generated is Successfully
2025-12-23 22:09:05 | INFO | KiteLogin | _auto_login | Kite Connection object created successfully

In [4]:
portfolio = get_portfolio(kite=kite, conf=KitePortfolioConfig, blacklist_flag=True)
ptf_attr = Ptf_Attr(ptf=portfolio, conf=KitePortfolioConfig)

2025-12-23 22:09:05 | INFO | src.brokers.kite.portfolio | get_portfolio | Portoflio, Positions & Margins Fetched Successfully

# Overall Portfolio

In [5]:
ptf_attr.ptf.to_pandas()

,Symbol,Quantity,Avg_Price,LTP,PnL,Invested_Amt,Portolio_Value,PnL_Pct,Invested_Pct,Portfolio_Pct
0,STYLAMIND,12,2094.00,2281.30,2247.60,25128.00,27375.60,8.94,5.70,6.09
1,GOLDBEES,892,106.74,113.10,5673.12,95212.08,100885.20,5.96,21.58,22.46
2,JAMNAAUTO,486,127.40,128.86,709.56,61916.40,62625.96,1.15,14.04,13.94
3,YATRA,278,178.33,179.28,264.10,49575.74,49839.84,0.53,11.24,11.09
4,CASH,1,102687.51,102687.51,0.00,102687.51,102687.51,0.00,23.28,22.86
5,IMFA,33,1425.50,1421.00,-148.50,47041.50,46893.00,-0.32,10.66,10.44
6,SHARDACROP,66,902.46,893.30,-604.35,59562.36,58958.01,-1.02,13.50,13.12

# PnL

In [6]:
ptf_attr.ptf.select("PnL").sum()

shape: (1, 1)
┌─────────┐
│ PnL     │
│ ---     │
│ f64     │
╞═════════╡
│ 8141.53 │
└─────────┘

# Invested Amount

In [7]:
ptf_attr.invested_amt

441123.59

# Portfolio Value

In [8]:
ptf_attr.portfolio_value

449265.12

# Overall Return

In [9]:
ptf_attr.overall_return(initial_amt=KitePortfolioConfig.INITIAL_AMT)

-4.54

# Risk Amount Per Trade

In [10]:
ptf_attr.risk_amt_per_trade(risk_pct=0.3)

1323

# Position Sizes

In [20]:
high = 54.63
low = 52.58
risk_pct = 0.3
sl_pct = round(((high - low) * 100) / high, 2)
ps = ptf_attr.position_size(sl_pct=sl_pct, risk_pct=risk_pct)
print(f"SL_PCT: {sl_pct} || PST_SIZE: {ps}")
print(f"# Shares: {int(ps // high)}")

SL_PCT: 3.75 || PST_SIZE: 35280
# Shares: 645